@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root {
    --main-bg-color: #2874f0;
  }

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}

nav{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 88px;
    padding: 0px 25px;
}

nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0px 23px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    
    color: #e1e7f1;
    font-weight: bolder;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 30vw;
    height: 27px;
    border-radius: 2px;
    margin: 0px 16px 0px 56px;
    padding: 0px 12px;
    font-family:'Lato', sans-serif;
}

.search button{
    font-family:'Lato', sans-serif;
    font-weight: 900;
}

.search button:hover{
    color: white;
    font-weight: bolder;
}

.container{
    min-height: calc(100vh - 58px - 12vh);
}

.slider{
    margin: 12px auto;
    width: 64vw;
    overflow: visible;
}

.slider img{
    width: 65vw;
    height: 74vh;
}

.card{
    max-width: 91vw;
    margin: 31px auto;
}

.cards{
    display: flex;
    align-items: center;
    overflow :scroll;
}

.card h2{
    font-family:'Lato', sans-serif;
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 25px;
}

.card-item :hover{
    font-weight: bolder;
}

.card .lines{
    font-family:'Lato', sans-serif;
    font-size: 83%;
}
footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family:'Lato', sans-serif;
}

